<article class="sidebar__categories">
    <h3 class="categories-header">Разделы</h3>
    <!--<ul class="categories-ul">
        <li class="categories-ul__item categories-ul__item--active" [routerLinkActive]="['navbar-ul__item--active']" [routerLinkActiveOptions]="{exact:true}">
            <a routerLink="/admin/posts/articles" (click)="ngOnCategoryFilter()">Статьи</a>
        </li>
        <li class="categories-ul__item" [routerLinkActive]="['navbar-ul__item--active']" [routerLinkActiveOptions]="{exact:true}">
            <a href="/admin/posts/business-advise">Бизнес-советы</a>
        </li>
        <li class="categories-ul__item" [routerLinkActive]="['navbar-ul__item--active']" [routerLinkActiveOptions]="{exact:true}">
            <a href="/admin/posts/cases">Кейсы</a>
        </li>
        <li class="categories-ul__item" [routerLinkActive]="['navbar-ul__item--active']" [routerLinkActiveOptions]="{exact:true}">
            <a href="/admin/posts/success-stories">Истории успеха</a>
        </li>
        <li class="categories-ul__item" [routerLinkActive]="['navbar-ul__item--active']" [routerLinkActiveOptions]="{exact:true}">
            <a routerLink="/admin/posts/smth">Что-то еще</a>
        </li>
    </ul>-->


    <ul class="categories-ul">
        <li *ngFor="let categoryItem of categories" class="categories-ul__item" [class.categories-ul__item--active]="categoryItem === selectedCategory" (click)="onSelect(categoryItem)">
                <a [routerLink]="['/admin/posts', categoryItem.category]">{{ categoryItem.category }}</a>    
        </li>
    </ul>
</article>
