<article class="post-block">
  <article class="post__upper-block">
    <section class="post__img">
      <img class="post__img" src="../../assets{{ post.titleImage }}" alt="post-img">
    </section>
    <section class="post__content">
      <input class="post-title" value="Заголовок">
      <article class="cropper">Here cropper..</article>
      <p class="post-text">Sweeping global forces are reshaping the workplace, the workforce, and work itself. Organizations are now rethinking their talent strategies at all stages of the employee lifecycle, vying for top talent in a highly transparent job market and becoming laser-focused on their external employment brand.</p>
    </section>
  </article>
  <article class="post__lower-block">
    <section class="post__date">
      <input class="post-datetext"value="21.07.2017">
    </section>
    <section class="post__tags">
      <input class="post-tagstext" value="HR, персонал, психология, чето еще, александр марков">
    </section>
    <button class="post__btn"><a>Сохранить изменения</a></button>
  </article>

</article>