//color variables
$lightViolet: #683b94;
$darkViolet: #502779;
$white: #ffffff;
$lightGrey: #eeedf0;
$darkGrey: #a9a8ad;
$headerGrey: #a4a2a6;
$listGrey: #706f73;
$black: #000000;

//mixins
@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@mixin animate($animation, $duration, $repeat, $easing) {
	-webkit-animation: $animation $duration $repeat $easing;
	-moz-animation: $animation $duration $repeat $easing;
	-ms-animation: $animation $duration $repeat $easing;
	animation: $animation $duration $repeat $easing;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin transition($duration) {
    -webkit-transition: $duration;
    -moz-transition: $duration;
    -ms-transition: $duration;
    transition: $duration;
}





//partials 

