<article class="post-block">
  <form>
    <article class="post__upper-block">

      <section class="post__status-indicators">
        <button class="post__status">Опубликован</button>
        <button class="post__preview"><a>Предпросмотр</a></button>
      </section>

      <section class="post__content">
        <input name="postTitle" [(ngModel)]="post.title" class="post-title" placeholder="Заголовок..">


        <!--<section class="post__img">
          <img class="post__img" src="../../assets{{post.titleImage}}" alt="post-img">
        </section>-->

        <article class="post-croppic">
          <!--<my-croppic></my-croppic>-->
        </article>

        <tinymce-editor [elementId]="'post-editor'" [model]="post.content">
        </tinymce-editor>

      </section>
    </article>
    <article class="post__lower-block">
      <section class="post__inputs">

        <section class="post__date">
          <input name="postDate" [(ngModel)]="post.date" class="post-datetext" placeholder="Дата..">
        </section>

        <section class="post__tags">
          <input name="postTags" [(ngModel)]="post.tags" class="post-tagstext" placeholder="Теги..">
        </section>

        <section class="post__category">
          <select name="postCategory" class="post-categorytext" [(ngModel)]="post.category">
              <option value="Личный опыт">Личный опыт</option>
              <option value="Продажи и сервис">Продажи и сервис</option>
              <option value="Мрктнг">Мрктнг</option>
              <option value="Эффективность">Эффективность</option>
              <option value="Бизнес-инструменты">Бизнес-инструменты</option>
          </select>
          <div class="select__arrow"></div>
        </section>

      </section>

      <section class="post__buttons">
        <button class="post__btn" (click)="addPost(post)">
          <a>Сохранить изменения</a>
        </button>
      </section>
    </article>
  </form>
</article>