@import '../../../partials';

.post-block {
    @include clearfix;
    margin: 0 0 60px 52px;
    width: 801px;

    .post__upper-block {
        @include clearfix;
        
        .post__status-indicators {
            width: 100%;
            height: 26px;
            margin: 0 0 23px 0;

            .post__status {
                width: 93px;
                height: 26px;
                background-color: #683b94;
                font: 400 10px/26px Open Sans;
                color: $white;
                text-align: center;
                float: right;
                margin: 0 0 0 1px;
              
            }

            .post__preview {
                width: 96px;
                height: 26px;
                background-color: #5196c4;
                float: right;
                margin: 0 0 0 2px;
                
                a {
                    font: 400 10px/26px Open Sans;
                    color: $white;
                    text-align: center;
                    text-decoration: none;
                }
            }
        }

        .post__img {
            float: left;
            width: 174px;
            height: 110px;
            margin: 0 20px 0 0;
        }

        .post__content {
            float: left;
            width: 100%;
            margin: 0 20px 0 0;

            .post-title {
                width: 100%;
                height: 42px;
                background-color: #e9e8ed;
                border-top: 1px solid #d1d0d5;
                font: 400 25px/17px Open Sans;
                color: $black;
                padding: 0 15px;
                margin: 0 0 23px 0;
            }

            .post-croppic {
                @include clearfix;
                width: 360px;
                height: 201px;
                background-color: #d1d0d5;
                margin: 0 0 46px 0;
            }
        }
    }

    .post__lower-block {
        @include clearfix;
        margin: 30px 0 0;

        .post__inputs {
            @include clearfix;
            width: 100%;
            height: auto;
            margin: 0 0 55px 0;

            .post__date {
                width: 112px; 
                height: 34px;
                text-align: center;
                float: left;

                .post-datetext {
                    width: 100%;
                    height: 100%;
                    font: 400 13px/34px Open Sans;
                    color: #010101;
                    padding: 0 21px;
                    background-color: #e9e8ed;
                    border-top: 1px solid #d1d0d5;  

                }
            }

            .post__tags {
                width: 676px;
                height: 34px;
                float: right;
                padding: 0 0 0 10px;

                .post-tagstext {
                    width: 100%;
                    height: 100%;
                    padding: 0 21px;
                    font: 400 13px/34px Open Sans;
                    color: #010101;
                    background-color: #e9e8ed;
                    border-top: 1px solid #d1d0d5;
                }
            }
        }

        .post__buttons {
            width: 100%;

            .post__btn {
                height: 50px;
                width: 354px;
                background-color: #78599b;
                float: right;
                margin: 0 0 0 4px;
                font: 300 17px/50px Open Sans;
                color: $white;
                cursor: pointer;
            }
        }
    }
}