
@import '.././partials';

body {
    @include clearfix;
    min-height: 800px;
    height: 100%;
}

.wrapper {
    @include clearfix;
    height: 1336px;
    width: 100%;
    // overflow: auto;

    .content-wrapper {
        float: left;
        width: 100%;

        .main {
            margin-left: 260px;
            padding: 33px 0 0;
            background-color: $white;

            .post__create {
                height: 44px;
                width: 294px;
                display: block;
                background-color: #683b94;
                margin: 0 0 0 532px;
                font: 300 15px/35px Open Sans;
                color: #ffffff;
                cursor: pointer;
            }

        }
    }

    .sidebar {
        @include clearfix;
        width: 260px;
        margin-left: -100%;
        padding: 33px 0 0;
        background-color: #eeedf0;
        float: left;
        height: 100%;
        min-height: 1800px;
    }
}


