@import '../../../partials';

.header {
    width: 100%;
    min-width: 1160px;
    height: 60px;
    background-color: $lightViolet;

    .header__left {
        width: 22%;
        height: 100%;
        float: left;
        padding: 0px 0 0 32px;

        .header__logo {
            float: left;

            .logotype {
                width: 128px;
                height: 16px;
                display: inline-block;
                position: relative;
                margin: 0 15px 0 0;

                img {
                    position: absolute;
                    top: 3px;
                }
            }

            .logo-tail {
                font: 400 13px/60px Open Sans;
                color: $white;
                @include opacity(0.5);
            }
        }
    }
    
    .header__right {
        width: 78%;
        height: 100%;
        float: right;
        padding: 0 90px;

        .header__navbar {
            width: 100%;
            height: inherit;

            .navbar-ul {
                list-style: none;
                overflow: hidden;
                height: inherit;

                .navbar-ul__item {
                    float: left;
                    height: inherit;

                    a {
                        display: block;
                        color: $white;
                        text-align: center;
                        padding: 0 28px;
                        height: inherit;
                        text-decoration: none;
                        text-transform: uppercase;
                        font: 400 13px/60px Open Sans;
                        @include opacity(0.5);
                        @include transition(.3s);

                        &:hover {
                            @include opacity(1);
                        }
                    }
                }

                .navbar-ul__item--active  a {
                    display: block;
                    color: $white;
                    text-align: center;
                    padding: 0 28px;
                    height: inherit;
                    text-decoration: none;
                    text-transform: uppercase;
                    font: 400 13px/60px Open Sans;
                    background-color: $darkViolet;
                    @include opacity(1);
                    @include transition(.3s);
                }
            }
        }
    }
}