<header class="header">
  <section class="header__left">
    <div class="header__logo">
      <a class="logotype" href="#"><img src="../../assets/images/bt-logo.png" alt="bt-logo"></a>
      <span class="logo-tail">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Admin panel</span>
    </div>
  </section>
  <section class="header__right">
    <nav class="header__navbar">
      <ul class="navbar-ul">
        <li class="navbar-ul__item navbar-ul__item--active" [routerLinkActive]="['navbar-ul__item--active']" [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="/admin/posts">Мои Посты</a>
        </li>
        <li class="navbar-ul__item" [routerLinkActive]="['navbar-ul__item--active']" [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="/admin/create">Новый пост</a>
        </li>
        <li class="navbar-ul__item" [routerLinkActive]="['navbar-ul__item--active']" [routerLinkActiveOptions]="{exact:true}">
          <a routerLink="/admin/authors-columns">Колонка Авторов</a>
        </li>
        <li class="navbar-ul__item"><a href="/admin/logout">Выйти</a></li>
      </ul>
    </nav>
  </section>
</header>